// Font Family
$default-font: "Kodchasan", sans-serif;

// Colors
$main-text-color: #000;
$accent-color: #E68311;
$dark: #202222;
$dark-blue: #1c2026;

// Container
$container-width: 1600px;
