@use "variables" as *;

/* -----------------------------------
		Main
----------------------------------- */
.add {
    text-align: center;
    width: 100%;
    display: block;
    overflow: hidden;
}

.top-ad {
    margin-bottom: $gutter;
}
