<section class="first-section clearfix">
    <div class="container-fluid">
        <div class="ad top-ad">
            <img src="images/ad-horizontal.webp" alt="Advertisement" class="img-responsive">
        </div>

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="pattern">
                    <div class="overlay item-title" style="background-image: url(images/blog/electronics/1.webp);">
                        <div class="item-title-content">
                            <h3><a href="#">Новые смартфоны покорили поклонников мобильной индустрии</a></h3>

                            <div class="item-social">
                                <div class="item-comments" title="Количество комментариев">
                                    <i class="fa fa-comments"></i>
                                    <a href="#" class="item-comments-count">26</a>
                                </div>

                                <div class="fa fa-share-alt" title="Поделиться в соц. сетях"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>