<section class="fourth-section clearfix">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="fourth-section-header"><a href="#">Лайфхаки</a></h2>
			</div>

			<div class="col-md-8 col-sm-6">
				<div class="row g-0">
					<div class="col-md-6">
						<div class="pattern">
							<div class="overlay item-title"
								style="background-image: url(images/blog/lifehacks/14.webp);">
								<div class="item-title-content">
									<h3><a href="#">Как сфотографировать себя на телефон с зеркалкой</a></h3>

									<div class="item-social">
										<div class="item-comments" title="Количество комментариев">
											<i class="fa fa-comments"></i>
											<a href="#" class="item-comments-count">26</a>
											<span class="date">06/12/2025</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="pattern">
							<div class="overlay item-title"
								style="background-image: url(images/blog/lifehacks/15.webp);">
								<div class="item-title-content">
									<h3><a href="#">Упрощаем жизнь наушникам, вешаем их на мониторы</a></h3>

									<div class="item-social">
										<div class="item-comments" title="Количество комментариев">
											<i class="fa fa-comments"></i>
											<a href="#" class="item-comments-count">26</a>
											<span class="date">06/12/2025</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="pattern">
							<div class="overlay item-title"
								style="background-image: url(images/blog/lifehacks/16.webp);">
								<div class="item-title-content">
									<h3><a href="#">Как разложить фотоаппараты на столе и не запутаться</a></h3>

									<div class="item-social">
										<div class="item-comments" title="Количество комментариев">
											<i class="fa fa-comments"></i>
											<a href="#" class="item-comments-count">26</a>
											<span class="date">06/12/2025</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="pattern">
							<div class="overlay item-title"
								style="background-image: url(images/blog/lifehacks/17.webp);">
								<div class="item-title-content">
									<h3><a href="#">Правильное подключение проводов к магнитофону</a></h3>

									<div class="item-social">
										<div class="item-comments" title="Количество комментариев">
											<i class="fa fa-comments"></i>
											<a href="#" class="item-comments-count">26</a>
											<span class="date">06/12/2025</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="aside-box">
					<img src="images/ad-vertical.webp" alt="alt" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
</section>