<section class="second-section clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h2><a href="">Новости IT</a></h2>
                <div class="row news-wrap">
                    <div class="col md-6">
                        <div class="pattern">
                            <a href="#" class="overlay item-news"
                                style="background-image: url(images/blog/news/6.webp);">
                                <div class="item-news-content">
                                    <h3>Золотистый iPhone предыдущего поколения положили на тыкву</h3>
                                    <span class="date">02/07/2025</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col md-6">
                        <div class="pattern">
                            <a href="#" class="overlay item-news"
                                style="background-image: url(images/blog/news/7.webp);">
                                <div class="item-news-content">
                                    <h3>Золотистый iPhone предыдущего поколения положили на тыкву</h3>
                                    <span class="date">02/07/2025</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>