<section class="second-section clearfix">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<h2><a href="">Новости IT</a></h2>
				<div class="row news-wrap">
					<div class="col-md-6">
						<div class="pattern">
							<a href="#" class="overlay item-news"
								style="background-image: url(images/blog/news/6.webp);">
								<div class="item-news-content">
									<h3>Золотистый iPhone предыдущего поколения положили на тыкву</h3>
									<span class="date">02/07/2025</span>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-6">
						<div class="pattern">
							<a href="#" class="overlay item-news"
								style="background-image: url(images/blog/news/7.webp);">
								<div class="item-news-content">
									<h3>Программист из Урюково посадил зрение после 22-х лет работы</h3>
									<span class="date">02/07/2025</span>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-6">
						<div class="pattern">
							<a href="#" class="overlay item-news"
								style="background-image: url(images/blog/news/8.webp);">
								<div class="item-news-content">
									<h3>Обнаружена первая в мире белая виниловая пластинка без дорожек</h3>
									<span class="date">02/07/2025</span>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-6">
						<div class="pattern">
							<a href="#" class="overlay item-news"
								style="background-image: url(images/blog/news/9.webp);">
								<div class="item-news-content">
									<h3>Человек впервые в мире сделал снимок моря в поле</h3>
									<span class="date">02/07/2025</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="aside-box">
					<img src="images/vk-witget.webp" alt="vk-witget" class="img-responsive">
				</div>

				<div class="aside-box">
					<img src="images/ad-cube.webp" alt="ad-cube" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
</section>