<section class="third-section dark-section clearfix">
	<div class="container-fluid">
		<h2><a href="#">Обзоры</a></h2>
		<div class="row">
			<div class="col-md-3">
				<div class="col-item col-item-dark">
					<a href="#">
						<img src="images/blog/reviews/10.webp" alt="reviews" class="img-responsive img-width overlay"
							title="reviews">
					</a>
					<div class="col-item-meta">
						<div class="item-comments" title="Количество комментариев">
							<span class="date">02/07/2025</span>
							<i class="fa fa-comments"></i>
							<a href="#" class="item-comments-count">26</a>
						</div>
					</div>
					<h4>
						<a href="#">Новый смартфон с функцией настольного пылесоса всколыхнул сообщества гиков по всему
							миру</a>
					</h4>
				</div>
			</div>

			<div class="col-md-3">
				<div class="col-item col-item-dark">
					<a href="#">
						<img src="images/blog/reviews/11.webp" alt="reviews" class="img-responsive img-width overlay"
							title="reviews">
					</a>
					<div class="col-item-meta">
						<div class="item-comments" title="Количество комментариев">
							<span class="date">02/07/2025</span>
							<i class="fa fa-comments"></i>
							<a href="#" class="item-comments-count">26</a>
						</div>
					</div>
					<h4>
						<a href="#">Sony выпустили новую полупрофессиональную камеру с высоким разрешением</a>
					</h4>
				</div>
			</div>

			<div class="col-md-3">
				<div class="col-item col-item-dark">
					<a href="#">
						<img src="images/blog/reviews/12.webp" alt="reviews" class="img-responsive img-width overlay"
							title="reviews">
					</a>
					<div class="col-item-meta">
						<div class="item-comments" title="Количество комментариев">
							<span class="date">02/07/2025</span>
							<i class="fa fa-comments"></i>
							<a href="#" class="item-comments-count">26</a>
						</div>
					</div>
					<h4>
						<a href="#">Флагман от Samsung 2025 года продолжает радовать своих покупателей новыми
							функциями</a>
					</h4>
				</div>
			</div>

			<div class="col-md-3">
				<div class="col-item col-item-dark">
					<a href="#">
						<img src="images/blog/reviews/13.webp" alt="reviews" class="img-responsive img-width overlay"
							title="reviews">
					</a>
					<div class="col-item-meta">
						<div class="item-comments" title="Количество комментариев">
							<span class="date">02/07/2025</span>
							<i class="fa fa-comments"></i>
							<a href="#" class="item-comments-count">26</a>
						</div>
					</div>
					<h4>
						<a href="#">Bubble gum начал производство разноцветных наклеек, пожевав которые вы впадаете в
							депрессию</a>
					</h4>
				</div>
			</div>
		</div>
	</div>
</section>