# Отключить автоматический audit после npm install
audit=false

# Не показывать напоминания о финансировании open source библиотек
fund=false

# Устанавливать зависимости строго по версии (без ^)
save-exact=true

# Упрощает установку, игнорируя peerDependencies конфликты
legacy-peer-deps=true