@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Druk";
    src: url('../fonts/DRUKTEXTWIDECYTTBOLD.WOFF.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url('../fonts/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}