<footer class="footer">
	<div class="container footer__container">
		<img src="images/guitar.webp" alt="Гитара" class="footer__img">
		<div class="footer__wrapper">
			<h5 class="footer__title title">Запишись на<br> пробный урок
				<hr class="title__hr title__hr_top">
			</h5>
			<div class="footer__icons-box icons">
				<div class="icons__items">
					<i class="fa-brands fa-skype"></i>
				</div>
				<div class="icons__items">
					<i class="fa-brands fa-vk"></i>
				</div>
				<div class="icons__items">
					<i class="fa-brands fa-telegram"></i>
				</div>
				<div class="icons__items">
					<i class="fa-brands fa-square-instagram"></i>
				</div>
			</div>
		</div>
	</div>
</footer>