<section class="main-section">
	<div class="container main-section__content-container">
		<div class="left-wrapper">
			<img class="left-wrapper__img" src="images/photo_guitarist.webp" alt="Фото гитариста">
			<div class="left-wrapper__rectangle-blue"></div>
			<div class="left-wrapper__rectangle-orange"></div>
			<div class="left-wrapper__rectangle-grey"></div>
		</div>
		<div class="right_wrapper">
			<div class="right_wrapper__icons-box icons">
				<div class="icons__items">
					<i class="fa-brands fa-skype"></i>
				</div>
				<div class="icons__items">
					<i class="fa-brands fa-vk"></i>
				</div>
				<div class="icons__items">
					<i class="fa-brands fa-telegram"></i>
				</div>
				<div class="icons__items">
					<i class="fa-brands fa-square-instagram"></i>
				</div>
			</div>
			<h1 class="right_wrapper__title title">Я Виктор
				<hr class="title__hr">
			</h1>
			<p class="right_wrapper__text">Репетитор игры на гитаре с семилетним опытом преподавания</p>
			<div class="right_wrapper__button buttons">
				<button class="buttons__main-btn">Забронировать<br> урок</button>
				<div class="right_wrapper__icon-btn buttons__icon-btn">
					<img src="images/icon_chat.svg" alt="Кнопка чата">
					<p class="buttons__text">Есть<br> вопросы?</p>
				</div>
			</div>
		</div>

		<div class="main-section__first-elipse elipse">
			<div class="elipse__subtract"></div>
		</div>
	</div>
	<div class="main-section__second-elipse elipse elipse_big">
		<div class="elipse__subtract elipse__subtract_big"></div>
	</div>
</section>