<section id="about-me" class="second-section">
	<div class="container second-section__container">
		<h2 class="second-section__title title">Преподаю
			<hr class="title__hr">
		</h2>
		<div class="second-section__card-box">
			<div class="second-section__cards-item cards-item">
				<img class="cards-item__img" src="images/electric_guitar.webp" alt="Электро-гитара">
				<p class="cards-item__text">Электро<br> гитара</p>
			</div>

			<div class="second-section__cards-item cards-item cards-item_orange">
				<img class="cards-item__img" src="images/acoustic_guitar.webp" alt="Электро-гитара">
				<p class="cards-item__text">Акустическая<br> гитара</p>
			</div>

			<div class="second-section__cards-item cards-item cards-item_blue">
				<img class="cards-item__img" src="images/ukulelli guitar.webp" alt="Электро-гитара">
				<p class="cards-item__text">Укулеле<br> гитара</p>
			</div>
		</div>
		<div class="second-section__icons-box icons-box">
			<div class="second-section__icons-item icons-item">
				<img src="images/icon_1.svg" alt="" class="icons-item__img">
				<p class="icons-item__text"><span>7</span><br> Лет<br> преподавания</p>
			</div>

			<div class="second-section__icons-item icons-item">
				<img src="images/icon_2.svg" alt="" class="icons-item__img">
				<p class="icons-item__text"><span>276</span><br> Отзывов<br> на 5 звезд</p>
			</div>

			<div class="second-section__icons-item icons-item">
				<img src="images/icon_3.svg" alt="" class="icons-item__img">
				<p class="icons-item__text"><span>314</span><br> Студентов<br> обучено</p>
			</div>

			<div class="second-section__icons-item icons-item">
				<img src="images/icon_4.svg" alt="" class="icons-item__img">
				<p class="icons-item__text"><span>2000</span><br> часов<br> преподавания</p>
			</div>
		</div>

		<div class="second-section__first-elipse elipse">
			<div class="elipse__subtract elipse__subtract_white"></div>
		</div>

		<div class="second-section__second-elipse elipse">
			<div class="elipse__subtract elipse__subtract_white"></div>
		</div>
	</div>
</section>