@font-face {
    font-family: "Roboto_g";
    src: local("Roboto");
    src: url("../fonts/RobotoRegular.woff2") format("woff2"),
        url("../fonts/RobotoRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto_g";
    src: local("Roboto");
    src: url("../fonts/RobotoBold.woff2") format("woff2"),
        url("../fonts/RobotoBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto_g";
    src: local("Roboto");
    src: url("../fonts/RobotoMedium.woff2") format("woff2"),
        url("../fonts/RobotoMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto_g";
    src: local("Roboto");
    src: url("../fonts/RobotoBlack.woff2") format("woff2"),
        url("../fonts/RobotoBlack.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Baron_g";
    src: local("Baron");
    src: url("../fonts/BaronBold.woff2") format("woff2"),
        url("../fonts/BaronBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Baron_g";
    src: local("Baron");
    src: url("../fonts/BaronBlack.woff2") format("woff2"),
        url("../fonts/BaronBlack.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
