<nav class="menu">
    <div class="container">
        <div class="menu__inner">
            <img src="images/Logo.svg" alt="Honey Logo" class="logo">
            <ul>
                <li><a href="#" class="menu__link menu__link--active" aria-current="page">Home</a></li>
                <li><a href="#" class="menu__link">About</a></li>
                <li><a href="#" class="menu__link">Our Product</a></li>
                <li><a href="#" class="menu__link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <h1 class="header__title">
                <span>Finger</span>
                <span>licking</span>
                <span>honey</span>
            </h1>
            <button type="button" class="button button--active">Buy Now</button>
            <button type="button" class="button">Learn  More</button>
        </div>
    </div>
</header>