<section class="main-section">
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1000">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
				aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
				aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
				aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="content">
					<h1>Slider</h1>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, voluptatem tenetur ducimus sint
						eligendi voluptate illo! Alias rerum quidem hic, velit architecto voluptatem assumenda quaerat
						animi
						nulla eligendi minima dolores!</p>
					<button type="button" class="btn btn-orange">Sing up!</button>
				</div>
				<div class="overlay"></div>
				<img src="images/1.avif" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<div class="content">
					<h1>Slider 2</h1>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, voluptatem tenetur ducimus sint
						eligendi voluptate illo! Alias rerum quidem hic, velit architecto voluptatem assumenda quaerat
						animi
						nulla eligendi minima dolores!</p>
					<button type="button" class="btn btn-orange">Sing up!</button>
				</div>
				<!-- <div class="overlay"></div> -->
				<img src="images/2.avif" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<div class="content">
					<h1>Slider 3</h1>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, voluptatem tenetur ducimus sint
						eligendi voluptate illo! Alias rerum quidem hic, velit architecto voluptatem assumenda quaerat
						animi
						nulla eligendi minima dolores!</p>
					<button type="button" class="btn btn-orange">Sing up!</button>
				</div>
				<div class="overlay"></div>
				<img src="images/3.avif" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="prev">
			<i class="fa-solid fa-arrow-left"></i>
			<span class="visually-hidden">Предыдущий</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="next">
			<i class="fa-solid fa-arrow-right"></i>
			<span class="visually-hidden">Следующий</span>
		</button>
	</div>
</section>